<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>NSPrincipalClass</key>
	<string>wxNSApplication</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.acoby.filesremote</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
	</array>
	<key>CFBundleExecutable</key>
	<string>filesremote</string>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>CFBundleName</key>
	<string>FilesRemote</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${PROJECT_VERSION}</string>
	<key>CFBundleShortVersionString</key>
	<string>${PROJECT_VERSION}</string>
	<key>CFBundleGetInfoString</key>
	<string>FilesRemote</string>
	<key>CFBundleLongVersionString</key>
	<string>${PROJECT_VERSION}</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2022 Allan Riordan Boll</string>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
